@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Noto+Sans:wght@200;300;400;500;600;700;800;900&display=swap");

$noto: "Noto Sans", sans-serif;
$inter: "Inter", sans-serif;
$roman: times new roman;

// $background: #fffff1;
$background: #ffffff;
$basictextcolor: #222222;
$textsize: 16px;

* {
  font-family: $inter;
  font-style: normal;
  font-weight: 500;
  font-size: $textsize;
  line-height: 28px;
  color: $basictextcolor;
  background-color: $background;
  transition: 200ms ease-in-out;
}

h2 {
  font-weight: 800;
}

body {
  margin: 0;

  #__next {
    max-width: 730px;
    padding: 30px;
    padding-top: 35px;
    margin: 0 auto 0 auto;

    #header {
      .site-branding {
        text-align: center;
        .site-title {
          a {
            font-family: $noto;
            font-weight: 800;
            font-size: 25px;
            text-decoration: none;
          }
        }
        .site-summary {
          font-size: 14px;
          font-style: italic;
          opacity: 0.7;
        }
      }

      .navigation {
        .nav-main {
          display: flex;
          justify-content: center;
          a {
            display: flex;
            align-items: center;
            font-size: 18px;
            padding: 0 15px;
            height: 70px;
            text-decoration: underline;
          }
          a:hover {
            // color: #6666ff;
            opacity: 0.7;
          }
        }
      }
    }

    #home {
      padding-bottom: 60px;

      #headline {
        display: flex;
        flex-direction: column;
        padding: 40px 0 15px 0;

        p {
          // text-align: left;
          margin: 0 0 10px 0;
          font-style: italic;
          font-size: 20px;
        }

        h1 {
          font-size: 70px;
          font-family: $roman;
          line-height: 1;
          font-weight: 800;
          margin-top: 10px;
          margin-bottom: 10px;
        }

        h2 {
          margin-bottom: 15px;
          font-weight: 600;
          font-size: 22px;
        }

        .home-sub-holder {
          min-width: 350px;
        }
      }

      #home-content {
        p {
          font-size: 17px;
        }
        .bold {
          font-weight: 800;
        }

        .bullet-list {
          padding: 5px 0 5px 10px;
          p {
            font-size: 17px;
          }
        }

        .home-sub-holder {
          min-width: 250px;
          max-width: 500px;

          span {
            font-size: 13px;
          }
        }

        .redirect-to-blog {
          padding-top: 50px;

          a {
            display: block;
            padding-bottom: 20px;
            font-size: 20px;
          }
        }
      }
    }

    #blog {
      padding: 0 0 30px 0;

      #blog-sub-sec-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 0 90px 0;
        h1 {
          font-size: 52px;
          text-align: center;
          font-family: $roman;
          margin-bottom: 25px;
          margin-top: 30px;
          line-height: 1;
        }
        p {
          text-align: center;
          margin: 0;
          padding: 0 65px;
        }
        .blog-sub-holder {
          min-width: 350px;
        }
      }

      #main-page-content {
        article {
          padding-bottom: 30px;

          h2 {
            font-size: 25px;
          }

          .post-content {
          }
        }
      }

      #blog-pagination {
        display: flex;
        gap: 10px;

        button {
          border: none;
          text-decoration: underline;
          font-size: 19px;
        }

        button:hover {
          color: #555555;
        }
      }
    }

    #singular-post {
      padding: 10px 0 50px 0;

      .post-title {
        font-size: 30px;
        line-height: 1.2;
      }

      .blog-sub-holder {
        text-align: center;
        padding: 10px 50px 0 50px;

        h3 {
          font-weight: 700;
          font-size: 21px;
          margin-bottom: 0;
        }

        iframe {
          width: 400px;
        }

        div {
          font-size: 14px;
        }
      }
    }

    #contact {
      #hero {
        h1 {
          font-size: 52px;
          font-family: $roman;
          margin: 30px 0 25px 0;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  body {
    #__next {
      max-width: 730px;
      padding: 20px;
      padding-top: 35px;
      margin: 0 auto 0 auto;

      #header {
        .site-branding {
          .site-summary {
            line-height: 1.45;
          }
        }

        .navigation {
          .nav-main {
            a {
              font-size: 16.5px;
              height: 60px;
            }
          }
        }
      }

      #home {
        padding-bottom: 60px;

        #headline {
          display: flex;
          flex-direction: column;
          padding: 40px 0 15px 0;

          p {
            // text-align: left;
            margin: 0 0 10px 0;
            font-style: italic;
            font-size: 20px;
          }

          h1 {
            font-size: 15vw;
            margin-bottom: 2px;
            line-height: 1;
            margin-top: 0;
          }

          h2 {
            font-size: 20px;
          }

          .home-sub-holder {
            min-width: 350px;
          }
        }

        #home-content {
          p {
            font-size: 17px;
          }
          .bold {
            font-weight: 800;
          }

          .bullet-list {
            padding: 5px 0 5px 10px;
            p {
              font-size: 17px;
            }
          }

          .home-sub-holder {
            min-width: 250px;
            max-width: 500px;

            span {
              font-size: 13px;
            }
          }

          .redirect-to-blog {
            padding-top: 50px;

            a {
              display: block;
              padding-bottom: 20px;
              font-size: 20px;
            }
          }
        }
      }

      #blog {
        padding: 0 0 30px 0;

        #blog-sub-sec-top {
          padding: 0 0 90px 0;
          h1 {
            font-size: 45px;
            line-height: 1;
          }
          p {
            text-align: center;
            margin: 0;
            padding: 0 0px;
          }
          .blog-sub-holder {
            min-width: 350px;
          }
        }

        #main-page-content {
          article {
            padding-bottom: 45px;

            h2 {
              font-size: 25px;
            }
          }
        }

        #blog-pagination {
          display: flex;
          gap: 10px;

          button {
            border: none;
            text-decoration: underline;
            font-size: 19px;
          }

          button:hover {
            color: #555555;
          }
        }
      }

      #singular-post {
        padding-bottom: 50px;
        padding-top: 10px;

        .post-title {
          font-size: 30px;
          line-height: 1.2;
        }

        .blog-sub-holder {
          padding: 10px 0px 0 0px;

          h3 {
            font-size: 20px;
          }

          iframe {
            width: 100%;
          }
        }
      }

      #contact {
        #hero {
          h1 {
            font-size: 45px;
          }
        }
      }
    }
  }
}
